@import "variables", "functions", "mixins";

@import "navigation", "header", "about-me", "projects", "contact-me-and-footer";
html,
body {
  scroll-behavior: smooth;
}

.main {
  position: relative;

  font-family: $SpaceFont;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;

  color: #3a96ff;
  font-size: 45px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: #1a4474;
    transition: 0.3s;
  }
}
