$SpartanFont: "Spartan", sans-serif;
$SpaceFont: "Space Mono", monospace;
$Breakpoint1: 993px;

.main {
  position: relative;
  min-height: 100vh;
  font-family: $SpaceFont;

  .navigation {
    position: absolute;
    top: 30px;
    z-index: 100;
    width: 100%;
    padding: 0 150px;

    .navbar-toggler-icon {
      color: white;
    }

    .navbar {
    }
    .navbar-brand {
      font-family: $SpartanFont;
      color: whitesmoke;
      text-decoration: none;
      font-size: 1.5rem;
    }
    .nav-item {
      margin-left: 80px;
      a {
        text-decoration: none;
        color: whitesmoke;
        font-weight: bold;
      }
    }
  }
  .header {
    height: 1024px;
    margin: 0;
    padding: 0 150px;

    background: url("img/helloquence.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    &:after {
      content: ""; // ::before and ::after both require content
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1024px;
      opacity: 0.7;
      background-color: rgba(50, 70, 121, 0.73);
    }

    .header-content {
      display: flex;
      flex-flow: column;
      color: #f0f0f0;
      letter-spacing: 0.01em;
      justify-content: center;
      padding: 0;

      .title {
        width: 100%;
        font-weight: bold;
        font-size: 60px;
        line-height: 89px;
        z-index: 100;
      }
      .subtext {
        margin-top: 15px;
        width: 100%;
        font-size: 28px;
        line-height: 123.43%;
        /* or 36px */
        z-index: 100;
      }
    }
  }

  .about-me {
    height: 1024px;
    padding: 0 150px;
    .row {
      height: 50%;
    }
    .about-me-text {
      padding: 0;
    }

    .about-me-header {
      margin-top: 200px;
      font-size: 3rem;
    }
    .about-me-subtext {
      font-size: 0.95rem;
      padding: 10px 0;
    }
    .about-me-profile {
      display: flex;
      justify-content: center;
      img {
        margin-top: 200px;
      }
    }
    .about-me-bottom {
      .align-bottom {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        padding: 0 25px 80px 25px;

        h3 {
          color: #4fa1ff;
          text-align: center;
          margin-top: 10px;
        }
        .small-text {
          margin-top: 10px;
        }
      }
    }
  }

  .projects {
    height: 1024px;
    background: linear-gradient(
      328.8deg,
      #3d5979 61.4%,
      rgba(61, 89, 121, 0) 153.71%
    );
    color: whitesmoke;
    padding: 0 150px;
    .projects-header {
      padding-top: 200px;
    }
    .projects-list {
      padding-top: 100px;
      .project-description {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .contact-me-and-footer {
    height: 1024px;
    background-color: #fff;
    position: relative;
    .row {
      margin: 0;
    }

    .contact-me {
      height: 500px;
      padding: 200px 150px 0 150px;

      .send-button {
        padding: 0;
        border: none;
        width: 90px;
        height: 26px;
        background: linear-gradient(136.82deg, #4fa1ff 20.53%, #96c7ff 105.83%);
        border-radius: 4px;
      }

      .form-row {
        margin-bottom: 15px;
      }
      .col {
        padding: 0;
      }
      .contact-me-svg {
        margin-top: 60px;
      }
    }

    .top-img {
      position: absolute;
      top: -2px;
      width: 100%;
      box-sizing: border-box;
      padding: 0;
    }

    .footer {
      background: url("img/RectangleFooter.svg");
      height: 270px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;

      position: absolute;
      bottom: 0;
      display: flex;
      flex-flow: column;
      align-items: center;

      .icons {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        width: 35%;
        .icon {
          cursor: pointer;
          &:hover {
            color: black;
          }
        }
      }
      .copyrights {
        text-align: center;
        width: 35%;
        color: whitesmoke;
        margin-top: 3%;
      }
    }

    .footer-img {
      position: absolute;
      bottom: 0;
      height: auto;

      width: 100%;
      box-sizing: border-box;
      padding: 0;
    }
  }
}
